---
import { Image } from "astro:assets";
import fishImg from "../images/anglerfish.png";
import waterImg from "../images/water-reflections.jpg";
import fishBallImg from "../images/fish-ball.png";
import nhmLogo from "../images/nhmla-logo.png";
---

<section
  class="relative flex flex-col justify-center w-full px-4 pt-32 pb-20 mx-auto overflow-hidden fish-hero bg-black"
>
  <div
    class="water-blurred blur-sm z-0 opacity-40 absolute top-0 left-0 w-full h-full fish-hero__water-blurred mix-blend-hard-light"
  >
    <span
      class="absolute top-0 left-0 z-0 opacity-30 w-full h-full bg-gradient-to-tr from-green-500 via-purple-700 to-slate-700 mix-blend-color-difference"
    ></span>
    <Image
      src={waterImg}
      alt="Water reflections"
      class="object-cover w-full h-full"
    />
  </div>
  <!-- <span class="fixed top-0 left-0 z-30 w-full h-full bg-gradient-to-tr from-fuchsia-400 via-purple-800 to-indigo-950 mix-blend-difference"></span> -->
  <div class="fish relative">
    <div
      class="absolute max-w-24 w-full fishball animation-fishball"
    >
      <Image
        src={fishBallImg}
        alt="Sigil"
        class="object-contain fish-hero__ball"
      />
    </div>
    <div
      class="w-auto max-w-none max-h-none fish-body z-40 overflow-visible relative"
    >
      <!-- <div class="absolute top-0 left-0 z-30 w-full h-full bg-black opacity-60 mix-blend-difference"></div> -->
      <Image
        src={fishImg}
        alt="Anglerfish"
        class="overflow-visible relative block object-cover object-left w-full h-full fish-hero__image"
      />
    </div>
    <h2 class="relative z-50">
        <span class="relative -mb-12 overflow-visible inline-block shadow-lg shadow-fuchsia-950">
            <Image
              src={nhmLogo}
              alt="Natural History Museum of Los Angeles logo"
              class="object-contain w-60 h-60"
            />
          </span>
      <!-- <span class="absolute top-0 z-40 flex items-end justify-center w-full text-white -translate-x-1/2 left-1/2 mix-blend-difference"></span> -->
      <!-- <span class="absolute top-0 left-0 text-4xl tracking-normal text-red-500 translate-y-1/2 mix-blend-screen font-bokor monster-text-shadow">the</span> -->
      <span
        id="fish-monster"
        class="text-fuchsia-400 relative z-40 font-bokor leading-none block monster-text-shadow"
        >Anglerfish Exhibit</span
      >
      <span class="sr-only">at the Natural History Museum of Los Angeles.</span>
    </h2>
    <div
      class="water absolute bottom-0 z-0 block w-5/6 fish-hero__water"
    >
      <span
        class="absolute top-0 left-0 z-30 w-full h-full bg-gradient-to-tr from-fuchsia-400 via-purple-800 to-indigo-950 mix-blend-difference"
      ></span>
      <Image
        src={waterImg}
        alt="Water reflections"
        class="object-cover object-top-right w-full h-full"
      />
    </div>
  </div>
  <div class="fish-hero__container pt-24 z-40 bg-black bg-opacity-80">
    <div class="relative z-30 prose">
      <div class="relative flex items-center w-full text-fuchsia-500">
        <!-- <span
          class="self-start mr-1 tracking-normal text-7xl font-kings text-shadow"
          >Anglerfish&nbsp;
        </span> -->
        <!-- <span class="font-kings mix-blend-hard-light text-shadow" id="fish-zone">zone</span> -->
        <!-- <span class="text-2xl tracking-widest font-bayon mix-blend-hard-light text-shadow">monster</span> -->
      </div>
    </div>
    <div class="px-8 mx-auto text-lime-100 pb-14 rounded-b-3xl">
      <h2 class="mb-12 text-4xl font-bayon">
        Protecting a priceless museum specimen
      </h2>
      <p class="mb-4">
        Anglerfish live deep in the ocean, amongst inky blackness and crushing
        pressure. If light simply strikes it, it will cause the tissue to begin
        to break down. When specimens make their way to the surface, the massive
        pressure changes often distort the fish into a crude facisimile of it's
        true form.
      </p>
      <p>
        In 2021, an intact and undamaged anglerfish floated it's way onto a
        Southern California beach. It was destined for the National History
        Museum of Los Angeles, where for a limited time, it would be scientific
        and sightseeing superstar.
      </p>
      <p class="mb-4">
        This is one of only 30 anglerfish that have made their way into study
        and exhibition in such pristine condition. They planned a special
        exhibit to display this mythic creature from beyond our grasp. But there
        was a problem...
      </p>
      <p>
        The angler fish lives so deep in the ocean that it can't survive in live
        - it's tissue breaks down. The museum needed a way to display the fish
        in a way that ensure only necessary light struck the specimen, and
        wanted to track the total light exposure over the lifetime of the
        exhibit. That's where we came in.
      </p>
      <br />
      <p>
        I was tasked with writing software to run on Arduino inside the museum
        exhibit. The board drove motion and light sensors, and logged the amount
        of light that struck the fish to an online Google Sheet. The lights
        turned on when guests approached, and off after inactivity to minimize
        light damage to the specimen.
      </p>
    </div>
  </div>
</section>

<style>
  .fish-body {
    filter: drop-shadow(0 0 0.4rem rgba(0, 10, 20, 0.9));
    height: 100vh;
    margin-bottom: -30vh;
  }
  .fish-hero__image {
    transform: translate(-20%, 0);
  }
  @media screen and (min-width: 640px) {
    .fish-hero__image {
      transform: translate(-10%, 0);
    }
  }
  @media screen and (min-width: 768px) {
    .fish-hero__image {
      transform: translate(20%, 0);
    }
    
  }

  .fish-hero__water {
    height: 30vw;
    left: -20px;
    transform: translateY(30%)
  }
  /* .fishball {
    width: 15vw;
    height: 15vw;
    top: 45%;
    left: 6vw;
  } */
  .animation-fishball {
    filter: drop-shadow(0 0 0.1rem rgba(0, 250, 230, 0.9));
    animation: fishball 10s ease-in-out infinite alternate;
    /* bottom: 55vw; */
    top: 40%;
    left: 15vw;
    /* mix-blend-mode: screen; */
  }

  @keyframes fishball {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }


  .text-shadow {
    text-shadow: 0.03em 0.04em 0.02em rgba(250, 0, 130, 0.6);
  }
  .monster-text-shadow {
    text-shadow: 0.02em 0.03em 0.05em rgba(200, 0, 140, 0.9);
  }
  /* #fish-midnight {
	font-size: 4vw;
    line-height: 0.7;
    overflow: hidden;
  }

  #fish-zone {
	font-size: 8vw;
    line-height:0.6;
  } */

  #fish-monster {
    font-size: 14vw;
    /* line-height:0.0; */
    /* padding: 0; */
    /* height: 0; */
  }
</style>
