---
import Link from "./Link.astro";
import SkillBadge from "./SkillBadge.astro";

const { job } = Astro.props;
const { data } = job;
const { company, companyWebsite, position, startMonthYear, endMonthYear, tech } = data;
const { Content } = await job.render();
---

<div class="job-card mb-24">
  <div
    class="mb-2 flex flex-col justify-start font-bayon text-2xl sm:flex-row md:text-2xl lg:text-3xl"
  >
    <h3>
      <span class="block font-bold text-fuchsia-500 sm:inline-block">{position}</span>
      <span class="mx-1 hidden font-bokor sm:inline-block"> - </span>
      <Link href={companyWebsite} target="_blank" class="no-underline">
        {company}
      </Link>
    </h3>
  </div>

  <p class="mb-8 italic">
    {startMonthYear ? startMonthYear : null} -
    {endMonthYear ? endMonthYear : "Present"}
  </p>

  {
    tech && (
      <div class="mb-10 mt-0 text-xs">
        <p class="sr-only">Skills:&nbsp;</p>
        <ul class="flex flex-wrap gap-2">
          {tech.map((t: string, i: number) => (
            <>
              <SkillBadge tag="li" class="mb-1" key={i}>
                {t}
              </SkillBadge>
              {i !== tech.length - 1 && " "}
            </>
          ))}
        </ul>
      </div>
    )
  }

  <div class="job-body list-custom-wrapper prose max-w-none">
    <Content />
  </div>
</div>

<style>
  .job-body {
    p {
      @apply mb-5;

      &:last-child {
        @apply mb-0;
      }
    }

    ul {
      @apply mt-8;
    }
    li {
      @apply mb-3 pl-6;
    }
  }
</style>
