---
import Link from "./Link.astro";
import Pill from "./Pill.astro";

const { job } = Astro.props;
const { data } = job;
const { company, companyWebsite, position, startMonthYear, endMonthYear, tech } = data;
const { Content } = await job.render();
---

<div class="job-card mb-24">
  <div
    class="flex flex-col justify-start mb-4 text-2xl font-bayon sm:flex-row md:text-3xl lg:text-4xl"
  >
    <h3>
      <span class="block font-bold text-fuchsia-500 sm:inline-block">{position}</span>
      <span class="hidden mx-1 font-bokor sm:inline-block"> - </span>
      <Link href={companyWebsite} target="_blank" class="no-underline">
        {company}
      </Link>
    </h3>
  </div>

  <p class="mb-8 italic">
    {startMonthYear ? startMonthYear : null} -
    {endMonthYear ? endMonthYear : "Present"}
  </p>

  {
    tech && (
      <div class="mt-0 mb-10 text-xs">
        <p class="sr-only">Skills:&nbsp;</p>
        <ul>
          {tech.map((t: string, i: number) => (
            <>
              <Pill tag="li" class="mb-2" key={i}>
                {t}
              </Pill>
              {i !== tech.length - 1 && " "}
            </>
          ))}
        </ul>
      </div>
    )
  }

  <div class="prose max-w-none job-body">
    <Content />
  </div>
</div>

<style>
  .job-body {
    p {
      @apply mb-5;

      &:last-child {
        @apply mb-0;
      }
    }

    ul {
      @apply mt-8;
    }
    li {
      list-style-type: disc;
      list-style-position: outside;
      @apply mb-3 ml-6 pl-2;
    }
  }
</style>
