---
import Link from "./Link.astro";
import Pill from "./Pill.astro";

const { job } = Astro.props;
const { data } = job;
const { company, companyWebsite, position, startMonthYear, endMonthYear, tech } = data;
console.log("tech", tech);
const { Content } = await job.render();
---

<div class="job-card mb-52">
  <div
    class="mb-2 flex flex-col justify-start font-bayon text-2xl sm:flex-row md:text-3xl lg:text-4xl"
  >
    <h3>
      <span class="block font-bold text-fuchsia-500 sm:inline-block">{position}</span>
      <span class="mx-1 hidden font-bokor sm:inline-block"> - </span>
      <Link href={companyWebsite} target="_blank" class="no-underline">
        {company}
      </Link>
    </h3>
  </div>

  <p class="mb-8 italic">
    {startMonthYear ? startMonthYear : null} -
    {endMonthYear ? endMonthYear : "Present"}
  </p>

  {
    tech && (
      <div class="mb-8 mt-0 text-xs">
        <p class="sr-only">Skills:&nbsp;</p>
        <ul>
          {tech.map((t: string, i: number) => (
            <>
              <Pill tag="li" class="mb-2" key={i}>
                {t}
              </Pill>
              {i !== tech.length - 1 && " "}
            </>
          ))}
        </ul>
      </div>
    )
  }

  <div class="job-body prose">
    <Content />
  </div>
</div>

<style>
  .job-body {
    p {
      @apply mb-5;

      &:last-child {
        @apply mb-0;
      }
    }

    ul {
      @apply mt-12;
    }
    li {
      list-style-type: disc;
      list-style-position: outside;
      @apply mb-2 ml-4 pl-2;
    }
  }
</style>
