---
import Link from "./Link.astro";
import ProjectSingleImage from "./ProjectSingleImage.astro";
import SkillBadge from "./SkillBadge.astro";

const { project } = Astro.props;

const { data } = project;
const {
  title,
  projectName,
  client,
  startMonthYear,
  endMonthYear,
  clientWebsite,
  image,
  imageAlt,
  imageAlign,
  imageMaxHeight,
  tech,
} = data;

const { Content } = await project.render();
---

<div class="job-card project-card relative mb-24 block">
  <div
    class="mb-2 flex flex-col justify-start font-bayon text-2xl sm:flex-row sm:text-xl md:text-2xl lg:text-3xl"
  >
    <h3>
      <span class="block font-bold text-fuchsia-500 sm:inline-block">{title}</span>
      <span class="mx-1 hidden font-bokor sm:inline-block">&nbsp;᠅&nbsp;</span>
      {
        clientWebsite ? (
          <Link href={clientWebsite} target="_blank" class="no-underline">
            {client}
          </Link>
        ) : (
          <span class="text-fuchsia-500">{client}</span>
        )
      }
    </h3>
  </div>
  {projectName && <p class="mb-2 font-bayon text-lg sm:text-2xl">{projectName}</p>}
  <p class="mb-8 italic">
    {startMonthYear ? startMonthYear : null} -
    {endMonthYear ? endMonthYear : "Present"}
  </p>

  {
    tech && (
      <div class="mb-10 mt-0 text-xs">
        <p class="sr-only">Skills:&nbsp;</p>
        <ul>
          {tech.map((t: string, i: number) => (
            <>
              <SkillBadge tag="li" class="mb-2" key={i}>
                {t}
              </SkillBadge>
              {i !== tech.length - 1 && " "}
            </>
          ))}
        </ul>
      </div>
    )
  }

  <div
    class:list={[
      "relative",
      { "flex flex-col": imageAlign !== undefined },
      { "lg:flex-row-reverse": imageAlign === "right" },
      { "lg:flex-row": imageAlign === "left" },
    ]}
  >
    {
      image && (
        <div
          class:list={[
            "mb-10 shrink-0 lg:w-1/4",
            { "lg:mr-10": imageAlign === "left" },
            { "lg:ml-10": imageAlign === "right" },
          ]}
        >
          <ProjectSingleImage
            imagePath={image}
            altText={imageAlt || projectName}
            maxHeight={imageMaxHeight}
          />
        </div>
      )
    }

    <div class="job-body list-custom-wrapper prose max-w-none lg:flex-1">
      <Content />
    </div>
  </div>
</div>

<style>
  .job-body {
    p {
      @apply mb-5;

      &:last-child {
        @apply mb-0;
      }
    }

    li {
      @apply mb-2 pl-6;
    }

    a {
      @apply underline hover:text-fuchsia-500;
    }

    blockquote {
      @apply bg-gradient-to-br from-emerald-800/20 via-teal-600/20 to-blue-800/15 px-10 py-12 text-xl italic leading-loose text-emerald-200;

      cite {
        @apply mt-8 block text-right text-sm font-semibold text-emerald-300;
      }
    }
  }

  /* When image is aligned, allow content images to span full width */
  .job-body :global(img) {
    @apply w-full;
  }
</style>
