---
import Link from "./Link.astro";

const { project } = Astro.props;
const { data } = project;
const { title, client, startMonthYear, endMonthYear, clientWebsite } =
  data;

const { Content } = await project.render();
console.log(client)
---

<div class="mb-20 job-card block relative">
  <!-- <div class="flex justify-start mb-2 text-xl">
    <h3 class="font-bold text-fuchsia-500">{title}</h3>
    <span class="block mx-2"> @ </span>
      {client}
  </div> -->
  <div class="flex sm:flex-row flex-col justify-start mb-2 text-2xl sm:text-xl md:text-2xl lg:text-3xl font-bayon">
    <h3 class="font-bold text-fuchsia-500">{title}</h3>
    <span class="sm:block hidden mx-2 font-bokor"> @ </span>
    { clientWebsite ? (
    <Link href={clientWebsite} target="_blank">
      {client}
    </Link>
    ) : (
      <span>{client}</span>
    )}
  </div>

  <p class="mb-8 italic">
    {startMonthYear ? startMonthYear : null} -
    {endMonthYear ? endMonthYear : "Present"}
  </p>

  <div class="prose job-body">
    <Content />
  </div>
</div>

<style>
  .job-body {
    /* line-height: 1.2; */
    p {
      @apply mb-5;
    }
    li {
      list-style-type: disc;
      list-style-position: outside;
      @apply mb-2 ml-4 pl-2;
    }
  }
</style>
