---
import Link from "./Link.astro";
import ProjectSingleImage from "./ProjectSingleImage.astro";

const { project } = Astro.props;

const { data } = project;
const { title, client, startMonthYear, endMonthYear, clientWebsite, image } = data;

const { Content } = await project.render();
---

<div class="job-card relative mb-20 block">
  <div
    class="mb-2 flex flex-col justify-start font-bayon text-2xl sm:flex-row sm:text-xl md:text-2xl lg:text-3xl"
  >
    <h3 class="font-bold text-fuchsia-500">{title}</h3>
    <span class="mx-2 hidden font-bokor sm:block"> @ </span>
    {
      clientWebsite ? (
        <Link href={clientWebsite} target="_blank">
          {client}
        </Link>
      ) : (
        <span>{client}</span>
      )
    }
  </div>

  <p class="mb-8 italic">
    {startMonthYear ? startMonthYear : null} -
    {endMonthYear ? endMonthYear : "Present"}
  </p>

  <div class="mb-8">
    <ProjectSingleImage imagePath={image} altText={title} />
  </div>

  <div class="job-body prose">
    <Content />
  </div>
</div>

<style>
  .job-body {
    /* line-height: 1.2; */
    p {
      @apply mb-5;
    }
    li {
      list-style-type: disc;
      list-style-position: outside;
      @apply mb-2 ml-4 pl-2;
    }
  }
</style>
