---
import Link from "./Link.astro";
import ProjectSingleImage from "./ProjectSingleImage.astro";
import Pill from "./Pill.astro";

const { project } = Astro.props;

const { data } = project;
const {
  title,
  projectName,
  client,
  startMonthYear,
  endMonthYear,
  clientWebsite,
  image,
  imageAlt,
  imageAlign,
  tech,
} = data;

const { Content } = await project.render();
---

<div class="relative block mb-20 job-card">
  <div
    class="flex flex-col justify-start mb-2 text-2xl font-bayon sm:flex-row sm:text-xl md:text-2xl lg:text-3xl"
  >
    <h3>
      <span class="block font-bold text-fuchsia-500 sm:inline-block">{title}</span>
      <span class="hidden mx-1 font-bokor sm:inline-block"> - </span>
      {
        clientWebsite ? (
          <Link href={clientWebsite} target="_blank" class="no-underline">
            {client}
          </Link>
        ) : (
          <span>{client}</span>
        )
      }
    </h3>
  </div>
  {projectName && <p class="mb-2 text-lg font-bayon sm:text-4xl">{projectName}</p>}
  <p class="mb-8 italic">
    {startMonthYear ? startMonthYear : null} -
    {endMonthYear ? endMonthYear : "Present"}
  </p>

  {
    tech && (
      <div class="mt-0 mb-8 text-xs">
        <p class="sr-only">Skills:&nbsp;</p>
        <ul>
          {tech.map((t: string, i: number) => (
            <>
              <Pill tag="li" class="mb-2" key={i}>
                {t}
              </Pill>
              {i !== tech.length - 1 && " "}
            </>
          ))}
        </ul>
      </div>
    )
  }

  <div
    class:list={[
      "relative",
      { "flex flex-col": imageAlign !== undefined },
      { "md:flex-row-reverse": imageAlign === "right" },
      { "md:flex-row": imageAlign === "left" },
    ]}
  >
    <div
      class:list={["mb-8", { "mr-8": imageAlign === "left" }, { "ml-8": imageAlign === "right" }]}
    >
      <ProjectSingleImage imagePath={image} altText={imageAlt || projectName} />
    </div>

    <div class="prose job-body">
      <Content />
    </div>
  </div>
</div>

<style>
  .job-body {
    p {
      @apply mb-5;

      &:last-child {
        @apply mb-0;
      }
    }

    li {
      list-style-type: disc;
      list-style-position: outside;
      @apply mb-2 ml-4 pl-2;
    }
  }
</style>
