---
import Link from "./Link.astro";
import ProjectSingleImage from "./ProjectSingleImage.astro";
import SkillBadge from "./SkillBadge.astro";

const { project } = Astro.props;

const { data } = project;
const {
  title,
  projectName,
  client,
  startMonthYear,
  endMonthYear,
  clientWebsite,
  image,
  imageAlt,
  imageAlign,
  imageMaxHeight,
  tech,
} = data;

const { Content } = await project.render();
---

<div class="job-card project-card relative mb-24 block">
  <div
    class="mb-2 flex flex-col justify-start font-bayon text-2xl sm:flex-row sm:text-xl md:text-2xl lg:text-3xl"
  >
    <h3>
      <span class="block font-bold text-fuchsia-500 sm:inline-block">{title}</span>
      <span class="mx-1 hidden font-bokor sm:inline-block"> - </span>
      {
        clientWebsite ? (
          <Link href={clientWebsite} target="_blank" class="no-underline">
            {client}
          </Link>
        ) : (
          <span class="text-fuchsia-500">{client}</span>
        )
      }
    </h3>
  </div>
  {projectName && <p class="mb-2 font-bayon text-lg sm:text-2xl">{projectName}</p>}
  <p class="mb-8 italic">
    {startMonthYear ? startMonthYear : null} -
    {endMonthYear ? endMonthYear : "Present"}
  </p>

  {
    tech && (
      <div class="mb-10 mt-0 text-xs">
        <p class="sr-only">Skills:&nbsp;</p>
        <ul>
          {tech.map((t: string, i: number) => (
            <>
              <SkillBadge tag="li" class="mb-2" key={i}>
                {t}
              </SkillBadge>
              {i !== tech.length - 1 && " "}
            </>
          ))}
        </ul>
      </div>
    )
  }

  <div
    class:list={[
      "relative",
      { "flex flex-col": imageAlign !== undefined },
      { "md:flex-row-reverse": imageAlign === "right" },
      { "md:flex-row": imageAlign === "left" },
    ]}
  >
    <div
      class:list={[
        "mb-10 shrink-0 md:w-1/3",
        { "mr-10": imageAlign === "left" },
        { "ml-10": imageAlign === "right" },
      ]}
    >
      <ProjectSingleImage
        imagePath={image}
        altText={imageAlt || projectName}
        maxHeight={imageMaxHeight}
      />
    </div>

    <div class="job-body prose max-w-none">
      <Content />
    </div>
  </div>
</div>

<style>
  .job-body {
    p {
      @apply mb-5;

      &:last-child {
        @apply mb-0;
      }
    }

    li {
      list-style-type: disc;
      list-style-position: outside;
      @apply mb-2 ml-4 pl-2;
    }
  }
</style>
